.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 500px; /* Match the width of ListSkeleton */
  margin: 0 auto; /* Center the component horizontally */
}

.list-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
}

.list-item:last-child {
  border-bottom: none;
}
